<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-capitalize>Watch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="video-list" *ngFor="let p of gridImages">
    <div class="video" *ngIf="p.video">
      <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(p.source)" frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="imagediv" *ngIf="!p.video" [ngStyle]="{'background-image' :'url('+ p.image+ ')'}">
      <div class="inner">
        <b>{{p.length}}</b>
      </div>
      <div class="play" (click)="play(p.id)" *ngIf="playVideo != p.id">
        <ion-icon name="play" color="light"></ion-icon>
      </div>
    </div>
    <div class="details">
      <!--div class="avatar">
        <img [src]="p.avatar" />
      </div-->
      <div class="title-block">
        <div class="title">{{p.title}}</div>
        <div class="extra">
          <div class="author">{{p.author}}</div>
          <div class="dot"></div>
          <!--div class="views">{{p.views}} views</div>
          <div class="dot"></div>
          <div class="date">{{p.date}}</div-->
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>