<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<ion-header>

  <ion-toolbar class="new-background-color">
   
    <div class="toolimg" style="background: url('/assets/imgs/head.png'); background-size: 100%;
    background-repeat: no-repeat;height: 96px;">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="title-ios" text-capitalize>Player Stats</ion-title>
  </div>

  </ion-toolbar>

</ion-header>


<ion-content>
  <div>
 

    <div class="container mt-3">
      <h4>Season2 Player Stats</h4>
      
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>

              <th>Player</th>
              <th>Teams</th>
              <th>Category</th>
              <th>Season2 Points</th>
              <th>Season2 Ranking</th>
              <th>Overall Ranking</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of leaderboardData" class="l-data-row">
             
              <td>{{data.player}}</td>
              <td><ion-img src="{{data.rank}}"></ion-img></td>
              <td>{{data.category}}</td>
              <td>{{data.points}}</td>
              <td>{{data.stworank}}</td>
              <td>{{data.overallrank}}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>
<div class="bottom-bt" style=" display: flex;flex-direction: column;height: 8%;">
  <ion-tabs style="    position: relative;
  display: initial;">

    <ion-tab-bar class="bottom-bar" slot="bottom">
      <ion-tab-button>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/icon/psl.png"></ion-img>
        <ion-label routerLink="/psl" routerDirection="root" name="apps">Learn</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-img routerLink="/learn" routerDirection="root" src="assets/icon/learn.png"></ion-img>
        <ion-label routerLink="/learn" routerDirection="root">Watch</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-img routerLink="/home" routerDirection="root" src="assets/icon/home.png"></ion-img>
        <ion-label routerLink="/home" routerDirection="root">Watch</ion-label>
      </ion-tab-button>
      <ion-tab-button>

        <ion-img routerLink="/video-large-card" routerDirection="root" src="assets/icon/watch.png"></ion-img>
        <ion-label routerLink="/video-large-card" routerDirection="root">Play</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-img routerLink="/phaser" routerDirection="root" src="assets/icon/play.png"></ion-img>
        <ion-label routerLink="/phaser" routerDirection="root">PSL</ion-label>
      </ion-tab-button>
    </ion-tab-bar>




  </ion-tabs>
</div>
