<div padding class="contentSection" margin-bottom>
    <ion-row>
      <ion-col>
        <ion-label>
          Check Delivery
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row class="pinInputSection">
      <ion-col size="6">
        <ion-input placeholder="Enter Your Pin" type="tel" maxlength="6" class="inputBorder"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" size="small">Submit</ion-button>
      </ion-col>
    </ion-row>

  </div>