/**
* Ionic Full App  (https://store.enappd.com/product/ionic-full-app-ionic-4-full-app)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/


.menu {
    color: rgb(90, 90, 90) !important;
  }
  .card {
    padding: 6px;
    border-radius: 3px;
    border: 0.3px solid rgb(210, 210, 210);
    background-color: white;
  }
  .title {
    font-size: 15px;
  }
  .gray {
    font-size: 15px;
    color: rgb(120, 120, 120);
  }
  .sub {
    font-size: 12px;
  }