<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="start"></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="light">
    <ion-label>
      Action Sheet
    </ion-label>
  </ion-item-divider>
  <app-actionsheet></app-actionsheet>
  <ion-item-divider color="light">
    <ion-label>
      Alerts
    </ion-label>
  </ion-item-divider>
  <app-alert></app-alert>
  <ion-item-divider color="light">
    <ion-label>
      Ripple effect
    </ion-label>
  </ion-item-divider>
  <app-ripple></app-ripple>
  <ion-item-divider color="light">
      <ion-label>
        Range selectors
      </ion-label>
    </ion-item-divider>
    <app-range></app-range>
    
</ion-content>