<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-capitalize>in app browser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header color="medium">Open in In-app Browser</ion-list-header>
  <ion-row class="hrz-scroll" margin-bottom>
    <ion-col size="5" *ngFor="let item of blankUrls" (click)="openBlankUrl(item.titleUrl)">
      <ion-card class="cardSection">
        <img [src]="item.imageUrl">
        <ion-card-content>
          <span class="contentText">{{item.title}}</span>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-list-header color="medium">Open in System Browser</ion-list-header>
  <ion-row class="hrz-scroll" margin-bottom>
    <ion-col size="5" *ngFor="let item of systemUrls" (click)="openSystemUrl(item.titleUrl)">
      <ion-card class="cardSection">
        <img [src]="item.imageUrl">
        <ion-card-content>
          <span class="contentText">{{item.title}}</span>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>