<ion-header>

  <ion-toolbar class="new-background-color">
   
    <div class="toolimg" style="background: url('/assets/imgs/head.png'); background-size: 100%;
    background-repeat: no-repeat;height: 96px;">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="title-ios" text-capitalize>PSl Season 2 Teams</ion-title>
  </div>

  </ion-toolbar>

</ion-header>

<ion-content>
<h4>Season2 Teams</h4>



<ion-grid>
  <ion-row>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Andhra01.png"></ion-img>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Bengaluru01.png"></ion-img>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Chennai01.png"></ion-img>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Delhi01.png"></ion-img>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Goa01.png"></ion-img>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Gujarat01.png"></ion-img>
      </div>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Kolkata01.png"></ion-img>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Mumbai01.png"></ion-img>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Pune01.png"></ion-img>
      </div>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Punjab01.png"></ion-img>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/img/Rajasthan01.png"></ion-img>
      </div>
    </ion-col>
  </ion-row>
  
</ion-grid>
    <!--div class="container team-wraper">
        <div class="row toprow">
          <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Andhra01.png"></ion-img></div>
          <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Bengaluru01.png"></ion-img></div>
          <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Chennai01.png"></ion-img></div>
        </div>
      </div>
      <div class="container team-wraper">
          <div class="row">
            <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Delhi01.png"></ion-img>
            </div>
            <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Goa01.png"></ion-img></div>
            <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Gujarat01.png"></ion-img></div>
          </div>
        </div>
        <div class="container team-wraper">
            <div class="row">
              <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Kolkata01.png"></ion-img></div>
              <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Mumbai01.png"></ion-img></div>
              <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Pune01.png"></ion-img></div>
            </div>
          </div>
          <div class="container team-wraper">
              <div class="row">
                <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Punjab01.png"></ion-img></div>
                <div class="col-4 psl-team"><ion-img routerLink="/psl" routerDirection="root" src="assets/img/Rajasthan01.png"></ion-img></div>
                
              </div>
            </div>
  <div class="psl-main-box">
    
        <button ion-button class="bt-psl-1">
            <ion-img routerLink="/psl" routerDirection="root" src="assets/icon/register-now.png"></ion-img>
            <p>Register Now</p>
           
        </button>
      

            <button ion-button class="bt-psl-1">
                <ion-img routerLink="/player-stats" routerDirection="root" src="assets/icon/teams.png"></ion-img>
                <p>Player Stats</p>
            </button>
        <button ion-button class="bt-psl-1">
              <ion-img routerLink="/psl" routerDirection="root" src="assets/icon/register-now.png"></ion-img>
              <p>Register Now</p>
             
        </button>
        
      
      </div>
      <div class="psl-main-box">
    
          <button ion-button class="bt-psl-1">
              <ion-img routerLink="/psl" routerDirection="root" src="assets/icon/league.png"></ion-img>
              <p>League Structure</p>

          </button>

  
              <button ion-button class="bt-psl-1">
                  <ion-img routerLink="/psl" routerDirection="root" src="assets/icon/how-to-apply.png"></ion-img>
                  <p>How To Apply</p>

                </button>
                <button ion-button class="bt-psl-1">
                  <ion-img routerLink="/psl" routerDirection="root" src="assets/icon/how-to-apply.png"></ion-img>
                  <p>How To Apply</p>

                </button>
        
        </div>
        <div class="psl-main-box">
    
            <button ion-button class="bt-psl-1">
                <ion-img routerLink="/teams" routerDirection="root" src="assets/icon/team-stats.png"></ion-img>
                <p>Teams</p>

              </button>
          
    
                <button ion-button class="bt-psl-1">
                    <ion-img routerLink="/calender" routerDirection="root" src="assets/icon/calendar.png"></ion-img>
                    <p>Calender</p> 
                  </button>
                  <button ion-button class="bt-psl-1">
                    <ion-img routerLink="/psl" routerDirection="root" src="assets/icon/how-to-apply.png"></ion-img>
                    <p>How To Apply</p>
  
                  </button>
          
          </div>
        <div class="psl-main-box" style="text-align: center;">
    
            <button ion-button class="bt-psl-1">
                <ion-img routerLink="/teams" routerDirection="root" src="assets/icon/team-stats.png"></ion-img>
                <p>Teams</p>

              </button>
          
    
                <button ion-button class="bt-psl-1">
                    <ion-img routerLink="/calender" routerDirection="root" src="assets/icon/calendar.png"></ion-img>
                    <p>Calender</p> 
                  </button>
                
          </div-->
          
</ion-content>

<div class="bottom-bt" style=" display: flex;flex-direction: column;height: 8%;">
  <ion-tabs style="    position: relative;
  display: initial;">

    <ion-tab-bar class="bottom-bar" slot="bottom">
      <ion-tab-button>
        <ion-img routerLink="/psl" routerDirection="root" src="assets/icon/psl.png"></ion-img>
        <ion-label routerLink="/psl" routerDirection="root" name="apps">Learn</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-img routerLink="/learn" routerDirection="root" src="assets/icon/learn.png"></ion-img>
        <ion-label routerLink="/learn" routerDirection="root">Watch</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-img routerLink="/home" routerDirection="root" src="assets/icon/home.png"></ion-img>
        <ion-label routerLink="/home" routerDirection="root">Watch</ion-label>
      </ion-tab-button>
      <ion-tab-button>

        <ion-img routerLink="/video-large-card" routerDirection="root" src="assets/icon/watch.png"></ion-img>
        <ion-label routerLink="/video-large-card" routerDirection="root">Play</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-img routerLink="/phaser" routerDirection="root" src="assets/icon/play.png"></ion-img>
        <ion-label routerLink="/phaser" routerDirection="root">PSL</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>