<div padding>
  <ion-button color="primary" expand="block" (click)="presentAlert()">Show Alert Box</ion-button>
  <ion-button color="primary" expand="block" (click)="presentAlertConfirm()">Show Confirm Box</ion-button>
  <ion-button color="primary" expand="block" (click)="presentAlertMultipleButtons()">Show Multiple Buttons</ion-button>

  <ion-button color="primary" expand="block" (click)="presentAlertPrompt()">Show Prompt</ion-button>
  <ion-button color="primary" expand="block" (click)="presentAlertRadio()">Show Radio Options</ion-button>
  <ion-button color="primary" expand="block" (click)="presentAlertCheckbox()">Show Checkboxes</ion-button>

</div>