/**
* Ionic Full App  (https://store.enappd.com/product/ionic-full-app-ionic-4-full-app)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/
ion-slide{
  margin-bottom: 35px;
}

.imagediv {
  height: 200px;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  font-size: 30px;
  color: white;
}

ion-card {
  width: 100%;
  margin: 0 10px;
}
