.learn-bt{
    padding: 1px 45px;
    margin-top: 30px;
}
.learn-icon1{
padding: 5px;
}

.learn-icon2{
    padding-left: 15px;
    }

.learn-icon3{
        padding: 5px;
        }
.learn-icon4{
            padding: 5px;
    }