<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Paypal for PWA
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid text-center>
      <ion-row>
        <ion-col>
          Use this Pay button in your PWA's payment page with the attached logic.
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="welcome-card">
      <ion-img src="/assets/paypal.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>PayPal Sample</ion-card-title>
        <ion-row>
          <ion-col>
            Total Payment
          </ion-col>
          <ion-col>
            {{currencyIcon}}{{paymentAmount}}
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <div id="paypal-button-container"></div>
      </ion-card-content>
    </ion-card>
  </ion-content>