
/**
* Ionic Full App  (https://store.enappd.com/product/ionic-full-app-ionic-4-full-app)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  font-family: sans-serif;

  .logo {
    text-align: center;
    font-size: 48px;
    font-weight: 100;
    padding: 30px;
  }
  .red {
    color: rgb(0, 120, 255);;
  }
  .login-button {
    --background: rgb(0, 120, 255);;
    background: rgb(0, 120, 255);;
    color: #fff;
    border-radius: 8px;
  }
  .radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    ion-button {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 8px;
      img {
        width: 30px;
      }
    }
  }
  ion-label {
    padding-bottom: 5px;
    color: #bbb;
  }
  ion-input {
    border: 1px solid #ddd;
    border-radius: 3px;
    --padding-start: 20px;
    margin-top: 5px;
  }
  .sub-text-1 {
    color: #999;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .sub-text-2 {
    color: #999;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  .sub-text-3 {
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    .check {
      display: flex;
      align-items: center;
    }
    ion-checkbox {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }
  .sub-text-4 {
    color: #999;
    text-align: center;
    font-size: 14px;
  }
  .link {
    color: rgb(0, 120, 255);
  }
  ion-radio-group {
    display: flex;
    ion-item {
      display: flex;
      justify-content: flex-start;
      --padding-start: 0;
      font-size: 14px;
      align-items: center;
    }
    ion-radio {
      border: 1px solid #3c8af7;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}

@media screen and (min-width:768px){
  .main{
    width: 500px;
    margin: auto;
  }
}
