<ion-content no-padding>
  <div class="main">
    <div class="logo red">
      YOUR TITLE
    </div>
    <div class="sub-text-1">
      Login instantly with
    </div>
    <div class="social">
      <ion-button expand="block" fill="clear">
        <img src="../../../../assets/icon/fb.png" />
      </ion-button>
      <ion-button expand="block" fill="clear">
        <img src="../../../../assets/icon/google.png" />
      </ion-button>
    </div>
    <div class="sub-text-2">
      OR
    </div>
    <div class="email">
      <ion-label>Email</ion-label>
      <ion-input clearInput type="text" placeholder="Email">
      </ion-input>
    </div>
    <div class="password">
      <ion-label>Password</ion-label>
      <ion-input clearInput type="password" placeholder="Password">
      </ion-input>
    </div>
    <div class="sub-text-3">
      <div class="check">
        <ion-checkbox></ion-checkbox> Remember me
      </div>
      <div class="forgot">Forgot Password ?</div>
    </div>
    <div class="radio">
      <ion-radio-group>

        <ion-item>
          <ion-label>Business</ion-label>
          <ion-radio slot="start" value="business" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Personal</ion-label>
          <ion-radio slot="start" value="personal" checked></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>
    <div class="button">
      <ion-button expand="block" class="login-button">Login</ion-button>
    </div>
    <div class="sub-text-4">
      <ion-text>Don't have an account?</ion-text>
      <ion-text padding-start class="link">Signup here</ion-text>
    </div>
  </div>
</ion-content>